<!DOCTYPE html>
{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% trans "Registration" %}</h1>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% trans "Registrate" as registration_text %}
        {% bootstrap_button registration_text button_type="submit" button_class="btn-primary" %}
    </form>

    <div class="mt-4">
    <p class="text-center">{% trans "Or sign up with" %}</p>
    <div class="d-flex justify-content-center gap-4">
        <!-- GitHub Icon -->
        <a href="{% url 'social:begin' 'github' %}" class="position-relative d-block" style="width: 50px; height: 50px;" title="GitHub">
            <img alt="GitHub icon"
                 fetchpriority="high"
                 decoding="async"
                 class="object-contain mix-blend-multiply w-100 h-100"
                 src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
                 style="position: absolute; inset: 0; color: transparent;">
        </a>

        <!-- Yandex Icon -->
        <a href="{% url 'social:begin' 'yandex-oauth2' %}" class="position-relative d-block" style="width: 50px; height: 50px;" title="Yandex">
            <img alt="Yandex icon"
                 fetchpriority="high"
                 decoding="async"
                 class="object-contain mix-blend-multiply w-100 h-100"
                 src="https://cdn-icons-png.freepik.com/256/12452/12452456.png"
                 style="position: absolute; inset: 0; color: transparent;">
        </a>
    </div>
</div>
</div>
{% endblock %}