<!DOCTYPE html>
{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block content %}

<div class="container wrapper flex-grow-1">
      <h1 class="my-4">{% trans "Login" %}</h1>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% trans "Loginin" as login_text %}
        {% bootstrap_button login_text button_type="submit" button_class="btn-primary" %}
    </form>

    <a href="{% url 'social:begin' 'github' %}" class="btn btn-dark">
    <i class="fab fa-github"></i> Login with GitHub
</a>
</div>
{% endblock %}
