<!DOCTYPE html>
{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block content %}

<div class="container wrapper flex-grow-1">
      <h1 class="my-4">{% trans "Login" %}</h1>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% trans "Loginin" as login_text %}
        {% bootstrap_button login_text button_type="submit" button_class="btn-primary" %}
    </form>

    <div class="mt-4">
    <p class="text-center">{% trans "Or sign up with" %}</p>
    <div class="row justify-content-center g-3">  <!-- g-3 — отступы между колонками -->
        <div class="col-md-5 col-12 text-center">  <!-- На мобильных — полная ширина -->
            <a href="{% url 'social:begin' 'github' %}" class="btn btn-info w-100">
                <i class="fab fa-github"></i> GitHub
            </a>
        </div>
        <div class="col-md-5 col-12 text-center">
            <a href="{% url 'social:begin' 'yandex-oauth2' %}" class="btn btn-info w-100">
                <i class="fab fa-yandex"></i> Yandex ID
            </a>
        </div>
    </div>
</div>
    </div>
{% endblock %}
